<script type="text/javascript">
    //fetch("{{include.url}}")
    fetch("https://raw.githubusercontent.com/anoopkini/{{include.repo}}/main/{{include.filepath}}")
        .then(response => response.text())
        .then(data => document.getElementById('code').textContent = data)
</script>
<div class="language-{{include.highlight}} highlighter-rouge">
    <div class="highlight"><pre class="highlight">
        <a id="ghLink" href="https://github.com/anoopkini/{{include.repo}}/blob/main/{{include.filepath}}" target="_blank" style="float:right;padding:5px;margin:2px;background: #fff;font-size: x-small;border-radius: 5px;">GitHub</a><a id="ghLink" href="{{include.leetcodeurl}}" target="_blank" style="float:right;padding:5px;margin:2px;background: #fff;font-size: x-small;border-radius: 5px;">Leetcode</a>
        <code><div id="code"></div></code></pre>
    </div>
</div>